

/* ========= Global Setting ===============  */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px; /* root em base / rem-basvärde */
  
}

body {
  margin: 0;/* Normalize margin  */
  padding: 0;

  font-family:
    system-ui,
    Times New Roman,
    Times,
    Serif;
  color:#000000; /* font color */
  background-color: #fbc4ab;


  min-height: 98vh; /* 98% of the browser window height. */
  display: flex;
  flex-direction: column; /*the flex items are arranged from top to bottom instead of left to right. */
}

/* ========= Layout Setting ========== */ 

header {
  background-color: #f8ad9d;
  padding: 20px;
  margin: 0;
  z-index: 1000;
  position: sticky;
}

header h1 {
  margin-top: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: bold;
  padding: 0; /* remove the default padding*/
  margin: 0; /* remove the default margin*/
}

header nav ul li a:hover,
header nav ul li a:focus {
  display: inline-block;
  background-color: #f4978e;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
}

main{
  flex: 1; /*take up all remaining space in a flex container.*/
  max-width:2560px;
  margin: 0 auto;
}


footer {
  display: flex;
  justify-content:center;
}


/* ========= Component Setting ========== */ 


#privacy-article{
  padding:2rem;

}

#what-to-collect-div{
  display:block;
  margin-bottom:2rem;
}



#use-data-div{
  display:block;
  margin-bottom:2rem;
}


#contact-us-div{
  display:block;

}


